@tailwind base;
@tailwind components;
@tailwind utilities;

.aleo-700{
    font-family: "Aleo", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.aleo-400{
    font-family: "Aleo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}